
@{
    ViewBag.Title = "Liên hệ với chúng tôi";
}

<style>
    .fixed-top {
        position: initial;
    }

    #mainNav {
        background-color: #222222 !important;
    }

</style>

<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="wrapper">
                <a class="top-contact" href="mailto:muabankygoimaydao@gmail.com"><i class="fa fa-envelope-o"></i> muabankygoimaydao@gmail.com</a>
                <br>
                <a class="top-contact" href="tel:0908255504"><i class="fa fa-phone-square"></i> 090 82 555 04 Mr Thiện</a>
                <br>
                <a class="top-contact" href="#"><i class="fa fa-map-marker"></i> Số 55 Nguyễn Chánh Sắt, P. 13, Q. Tân Bình, TP.HCM</a>
            </div>
        </div>
    </div>

    <div class="fade-header">
    </div>
</header>